{% extends "layout.html" %}
{% block content %}

    <div class="margin">
        <div class="container wrap">
            <h1 class="font1">Update Account</h1>
        </div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>{{ legend }}</legend>
                <div class="margin1">
                    {{ form.picture.label(class="") }}
                    <br>
                    {% if form.picture.errors %}
                        {{ form.picture(class="") }}
                        <div class="">
                            {% for error in form.picture.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.picture(class="") }}
                    {% endif %}
                </div>
                <div class="container wrap">
                    <div>
                        <div class="imgContainer">
                            <p>1</p>
                            <img src="/static/trainers/1.webp" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="imgContainer">
                            <p>2</p>
                            <img src="/static/trainers/2.webp" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="imgContainer">
                            <p>3</p>
                            <img src="/static/trainers/3.webp" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="imgContainer">
                            <p>4</p>
                            <img src="/static/trainers/4.webp" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="imgContainer">
                            <p>5</p>
                            <img src="/static/trainers/5.webp" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="imgContainer">
                            <p>6</p>
                            <img src="/static/trainers/6.webp" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="imgContainer">
                            <p>7</p>
                            <img src="/static/trainers/7.webp" alt="">
                        </div>
                    </div>
                </div>
                <div class="margin1">
                    {{ form.pokemon.label(class="") }}
                    <br>
                    {% if form.pokemon.errors %}
                        {{ form.pokemon(class="") }}
                        <div class="">
                            {% for error in form.pokemon.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.pokemon(class="") }}
                    {% endif %}
                </div>
                <div class="margin1">
                    {{ form.tagline.label(class="") }}
                    <br>
                    {% if form.tagline.errors %}
                        {{ form.tagline(class="") }}
                        <div class="">
                            {% for error in form.tagline.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.tagline(class="") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="margin1">
                {{ form.submit(class="") }}
            </div>
        </form>
    </div>
{% endblock content %}