* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(cornsilk 90%, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 2% 7% 2% 7%;
    background-color: rgb(180, 255, 110);
}
.anchor {
    /* color: rgb(28, 205, 28); */
    color: rgb(200, 0, 142);
    font-size: xx-large;
    text-decoration: none;
}
.nav-list {
    padding: 0rem;
    display: flex;
    flex-wrap: wrap;
}
.nav-list a {
    text-decoration: none;
    padding: 1rem;
    margin: 1rem 0 0rem 0;
    color: purple;
}
.nav-list a:hover { 
    text-decoration: underline;
}
.margin {
    margin: 0 10% 5% 10%;
}
.wrapper {
    display: block;
}

.container {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.imgContainer {
    width: fit-content;
    text-align: center;
}
.imgContainer img {
    padding:  0 0 0 0;
    margin: 3px 1rem 0 1rem;
}
.pokedex {
    width: 8.5rem;
}
.details {
    padding-left: 2rem;
}
.margin1 {
    margin: 1rem;
}
.blog-list {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.blog-list a {
    text-decoration: none;
    padding: 1rem;
    margin: 0rem .5rem 0rem 0rem;
    color: purple;
}
.blog-list a:hover { 
    text-decoration: underline;
}
.bgEmphasis {
    background-color: rgb(180, 255, 110);
    border-radius: 1rem;
}
.bgRed {
    background-color: red;
    border-radius: .5rem;
    margin: 1rem;
    margin-top: 2rem;
    padding: .8rem;
    width: fit-content;
    display: inline-block;
}
.bgRed:hover {
    outline: auto;
}
.bgRed a {
    color: white;
}
.lgFont {
    font-size: x-large;
    margin-top: 0;
}
.margin0 {
    margin-bottom: 0;
}
.marginTop {
    margin-top: 5px;
}
.marginSides {
    margin: 0 10% 0 10%;
}
.font1 {
    font-family: 'Times New Roman', Times, serif;
}
.bold {
    font-weight: bold;
}



/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 1.5rem;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  /* Media Queries */
  @media screen and (max-width: 650px) {
    .nav-list {display: none;}
}
  @media screen and (min-width: 650px) {
    .dropdown {display: none;}
}